*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    min-height: 100%;
    background-color: #fdfdfd;
    font-family: 'General Sans', sans-serif;
    background-image: url(registerIcon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.employee-list{
    
}
.nav-header{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-top: 55px;
height: 160px;

}
.nav-header li{
    list-style-type: none;
}
.search-input{
    background-color: transparent;
    height: 25px;
    border-radius: 8px;
}
.add-btn{
cursor: pointer;
padding: 1rem;
margin: 0.5rem;
border: none;
border-radius: 8px;
color: rgb(82, 82, 82);
font-weight: 600;
background-color: rgb(136, 253, 136);
}
.table-content{
    width: 100%;
}
.table-content th{
    background-color: grey;
}
.table-content, th, td{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(221, 221, 221);
    
}
.flex-table{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    margin: 0 45px;
    max-width: 100%;

    
}
.table-info{
    
    border: 1px solid black ;
    border-collapse: collapse;
    border: 8px;
}
.employee-profile{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.update-emp{
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 8px;
    color: rgb(82, 82, 82);
    font-weight: 600;
    background-color: rgb(136, 253, 136);
}
.delete-emp{
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 8px;
    color: rgb(82, 82, 82);
    font-weight: 600;
    background-color: rgb(243, 40, 40);
}
.button{
    display: flex;
    justify-content: center;
}
.History-btn{
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 8px;
    color: rgb(82, 82, 82);
    font-weight: 600;
    background-color: rgb(136, 253, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 771px){
    th{
        display: none;
    }
    td{
        display: block;
    }
    
    /* td::before{
        content: attr();
    } */
    td:nth-last-of-type(1)::before{
        content: "id";
    }
    td:nth-last-of-type(2)::before{
        content: "name";
    }
    td:nth-last-of-type(3)::before{
        content: "email";
    }
    td:nth-last-of-type(4)::before{
        content: "position";
    }
    td:nth-last-of-type(5)::before{
        content: "number";
    }
    td:nth-last-of-type(6)::before{
        content: "image";
    }
}