*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    min-height: 100vh;
    background-color: #fdfdfd;
    font-family: 'General Sans', sans-serif;
    background-image: url(registerIcon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-underline-position: below;
    text-decoration-line: underline;
    text-decoration-color: red;
    color: rgb(95, 95, 95);
}